[submodule "services_repos/apps_open_api"]
	path = services_repos/apps_open_api
	url = ./services_repos/apps_open_api
[submodule "services_repos/mqtt_access_control_api"]
	path = services_repos/mqtt_access_control_api
	url = ./services_repos/mqtt_access_control_api
[submodule "services_repos/mqtt_broker"]
	path = services_repos/mqtt_broker
	url = ./services_repos/mqtt_broker
[submodule "services_repos/mqtt_client_observer"]
	path = services_repos/mqtt_client_observer
	url = ./services_repos/mqtt_client_observer
[submodule "services_repos/mqtt_http_api"]
	path = services_repos/mqtt_http_api
	url = ./services_repos/mqtt_http_api
[submodule "services_repos/nginx"]
	path = services_repos/nginx
	url = ./services_repos/nginx
